@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400');

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #f0f0f0;
}

.logo{
  padding-top: 25px;
  padding-bottom: 18px;
  text-align: center;
  background-color: #fff;
}

.logo img{
  width: 40%;
}

.make_logo_bigger{
  height: 100px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)),
    url(img/hero_mobile.jpg);
  background-size: 130%;
  background-position: right;
  opacity: .8;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.make_logo_bigger h1{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'PT Sans Caption', sans-serif;
}

main {
  margin: 40px 0;
}

main h2{
  padding-bottom: 20px;
  margin: 0 20px;
}

main hr{
  background-color: #ed202a;
  width: 60px;
  height: 6px;
  margin-bottom: 20px;
  margin-left: 20px;
}

main p{
  padding: 20px 0;
  font-size: 16px;
}

main p:not(.photo){
  margin: 0 20px;
}

.photo img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#first_p{
  font-family: "Myriad Pro", Myriad, sans-serif;
  font-size: 20px;
  font-style: italic;
}

.flame{
  display: none;
}

footer{
  background-color: #000;
  height: 700px;
}



@media (min-width: 321px){
  .logo img{
    width: 250px;
    padding: 75px 0;
  }

  .make_logo_bigger{
    height: 350px;
  }

  .make_logo_bigger h1{
    width: 70%;
    margin: 0 auto;
    font-size: 80px;
    font-style: normal;
    text-align: left;
  }

  main{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    position: relative;
    top: -30px;
    z-index: 100;
    background-color: #fff;
    padding-top: 65px;
    padding-left: 60px;
    padding-right: 80px;
    padding-bottom: 75px;
  }

  .left{
    width: 34%;
  }

  .right{
    width: 66%;
  }

  main h2{
    margin: 0;
    font-size: 30px;
  }

  main hr{
    margin-left: 0;
    width: 80px;
  }

  main p:not(.photo){
    margin: 0;
    font-size: 18px;
  }

  #first_p{
    padding-top: 0;
    font-size: 24px;
  }

  .photo img{
    height: 390px;
  }

  .flame{
    display: block;
    position: absolute;
    bottom: -45px;
    left: -145px;
  }

  footer{
    width: 97%;
    height: 365px;
  }
}
